<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Notes</title>
    <meta name="viewport" content="height=device-height, initial-scale=1">  
     <title>SignUp</title>

</head>
<body>
    <form [formGroup]="registerForm" (ngsubmit)="register()">
         <div class="bodydiv">
     <div class="register">  
          <div class="title">
               Sign Up
          </div>      
          <div class="formField">
               <div class="input-style">
                    <input type="text" placeholder="Username" name="userName" id="userName" class="input" required formControlName="name">
               </div>
               <div class="input-style">
                    <input type="text" placeholder="Email" name="Email" id="email" class="input"required formControlName="email">
               </div>
               <div class="input-style">
                    <input type="password" placeholder="Password" name="Password" id="password" class="input" required formControlName="password">
               </div>
               <div class="input-style">
                    <p class="instruction">Make sure it's at least 15 character OR at least 8 characters including number and a lowercase letter</p>
               </div>
               <div class="btn">
                    <a href="#">SignUp</a>
               </div>

          </div>
     </div>
</div>
    </form>
     
</body>
</html>